<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Proyecto CarWash</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" th:href="@{/resources/datepicker/bootstrap-datepicker.css}">
    <link rel="stylesheet" th:href="@{/resources/alertify	js/css/alertify.css}">
    <link rel="stylesheet" th:href="@{/resources/alertifyjs/css/alertify.min.css}">
    <link rel="stylesheet" th:href="@{/resources/css/mantenimiento.css}">
    <style>
        body {
            background: #c2e59c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

     
}
   /* header */
        header {
            background: #c2e59c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }

        .head-mavbar-menu {
            margin-left: 130px;
        }

        .head-mavbar-menu img {
            height: 30px;
            width: 30px;
        }

        .head-mavbar-menu li {
            color: #000 !important;
            padding: 0px 20px;
            font-size: 18px;
        }

        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 20px;
        }

        .card {
            width: 300px;
            margin: 10px;
        }

        .card-body {
            padding: 15px;
        }

        
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
</head>

<body>
    <header>
        <div th:replace="~{plantilla/UITemplate :: cabecera}"></div>
    </header>

    <div class="container">
        <h3 class="text-center mt-4">LISTA DE CLIENTE</h3>

        <div class="btn-nuevo">
            <button type="button" class="btn btn-primary mt-5" data-toggle="modal" data-target="#modalMedicamento"
                id="btn-nuevo">
                <i class="far fa-file"></i> Nuevo cliente
            </button>
        </div>

        <div class="card-container mt-2">
            <div th:each="row:${clientes}" class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="${row.nombre + ' ' + row.apellido}"></h5>
                    <p class="card-text" th:text="${'Telefono: ' + row.telefono}"></p>
                    <p class="card-text" th:text="${'Correo: ' + row.correo}"></p>
                    <p class="card-text" th:text="${'Direccion: ' + row.direccion}"></p>
                    <button type="button" class="btn btn-info btn-editar" data-toggle="modal"
                        data-target="#modalMedicamento" th:data-id="${row.id}">
                        <i class="far fa-edit"></i> Editar
                    </button>
                    <button type="button" class="btn btn-danger btn-eliminar" th:data-id="${row.id}">
                        <i class="far fa-trash-alt"></i> Eliminar
                    </button>
                </div>
            </div>
        </div>
<!-- Modal MEDICAMENTO -->
<div class="modal fade" id="modalMedicamento" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content" style="background-color: #fff;">
            <div class="modal-header bg-blue-darker text-white">
                <h4 class="modal-title">Cliente</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" id="idRegistra" th:action="@{grabar}">
					<input type="text" value="0" name="codigo" id="idCodigo">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="idNombre">Nombre</label>
                            <input type="text" class="form-control" id="idNombre" placeholder="Ingresar nombre" name="nombre">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="idApellido">Apellido</label>
                            <input type="text" class="form-control" id="idApellido" placeholder="Ingresar apellidos" name="apellidos">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="idTelefono">Teléfono</label>
                            <input type="text" class="form-control" id="idTelefono" placeholder="Ingresar Teléfono" name="telefono">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="idCorreo">Correo</label>
                            <input type="text" class="form-control" id="idCorreo" placeholder="Ingresar Correo" name="correo">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="idDireccion">Dirección</label>
                            <input type="text" class="form-control" id="idDireccion" placeholder="Ingresar Dirección" name="direccion">
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <button type="submit" id="Guardar" class="btn btn-primary"><i class="fas fa-save"></i> Registrar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-undo-alt"></i> Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- FIN Modal MEDICAMENTO -->
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
	<script th:src="@{/resources/datepicker/bootstrap-datepicker.js}"></script>     
	<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
	<script src="https://kit.fontawesome.com/08aaa156fb.js" crossorigin="anonymous"></script>
	<script	src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script src="https://kit.fontawesome.com/08aaa156fb.js" crossorigin="anonymous"></script>
	<script th:src="@{/resources/alertifyjs/alertify.js}"></script>
	<script th:src="@{/resources/alertifyjs/alertify.min.js}"></script>
	
	<script th:inline="javascript" th:if="${MENSAJE != null}">
		// leer atributo MENSAJE que proviene del controler.
		let msj = /*[[${MENSAJE}]]*/
		
		toastr.success(msj, toastr.options = {
			"timeOut": "2000",
			"positionClass " : " toast-top-right ",
		});
		
		
	</script>
	
		<script th:inline="javascript" th:if="${ERROR != null}">
		// leer atributo ERROR que proviene del controler.
		let error = /*[[${ERROR}]]*/
		
		toastr.error(error, toastr.options = {
			"timeOut": "2000",
			"positionClass " : " toast-top-right ",
		});
		
	</script>
	
	
	
	
	
	<script>
		  $(document).ready(function () {
        // Evento que se dispara cuando el botón "Nuevo cliente" se hace clic
        $("#btn-nuevo").click(function () {
            // Limpiar los valores de los campos
            $("#idCodigo").val('0');
            $("#idNombre").val('');
            $("#idApellido").val('');
            $("#idTelefono").val('');
            $("#idDireccion").val('');
            $("#idCorreo").val('');
        });
        });
         
        $(document).on("click", ".btn-editar", function () {
			
			
            let clientId = $(this).data("id");

            $.get("buscar?id=" + clientId, function (response) {
                console.log(response);

                $("#idCodigo").val(response.id);
                $("#idNombre").val(response.nombre);
                $("#idApellido").val(response.apellido);
                $("#idTelefono").val(response.telefono);
                $("#idDireccion").val(response.direccion);
                $("#idCorreo").val(response.correo);
            });
        });
    </script>
	
	
	<script>
    $(document).on("click", ".btn-eliminar", function () {
        //var $row = $(this).closest("tr");
        //var cod = $row.find("td:first").text();
		let clientId = $(this).data("id");
		console.log(clientId);
		
        alertify.confirm("SISTEMA", "¿Seguro de eliminar?",
            function () {
                window.location.href = "http://localhost:8091/cliente/eliminar?codigo=" + clientId;
            },
            function () {
                alertify.error('Cancelado!');
            }
        ).set('labels', { ok: 'Si', cancel: 'No' });
    });
</script> 
	
	
	
	
	
	<script type="text/javascript">    
	    $(document).ready(function(){     
	
	        $('#idRegistra').bootstrapValidator({     
	        	feedbackIcons: {
	                valid: 'glyphicon glyphicon-ok',
	                invalid: 'glyphicon glyphicon-remove',
	                validating: 'glyphicon glyphicon-refresh'
	            },
	        	 fields:{
	        		 
	        		 Nombres: {
	     	    		selector:'#idNombre',   
	                    validators: {    
	                        notEmpty: {    
	                            message: 'Ingrese nombre'    
	                        },
	                        regexp: {    
	                            regexp: /^[a-zA-ZÑñáéíóúÁÉÍÓÚÜü\s]{3,40}$/,    
	                            message: 'Campo nombre debe ser mayor a 3 y menor a 40 caracteres '    
	                        }      
	                    }    
	                },   
	                Apellidos: {
	     	    		selector:'#idApellido',       
	                    validators: {    
	                        notEmpty: {    
	                            message: 'Ingrese descripción'    
	                        },
	                        regexp: {    
	                            regexp: /^[a-zA-ZÑñáéíóúÁÉÍÓÚÜü\s]{3,40}$/,    
	                            message: 'Campo apellido debe ser mayor a 3 y menor a 40 caracteres '    
	                        }         
	                    }    
	                },    
	                Telefono: {
	     	    		selector:'#idTelefono',      
	                    validators: {    
	                        notEmpty: {    
	                            message: 'Ingrese telefono'    
	                        },
	                        regexp: {    
	                            regexp: /^[0-9]{1,9}$/,    
	                            message: 'Campo telefono hasta 9 cifras'    
	                        },   
	                    }    
	                },
	                Direccion: {
	     	    		selector:'#idDireccion',      
	                    validators: {    
	                        notEmpty: {    
	                            message: 'Ingrese direccion'    
	                        },
	                        regexp: {    
	                            regexp: /^[/°#0-9a-zA-ZÑñáéíóúÁÉÍÓÚÜü,.":\s]{4,50}$/,    
	                            message: 'Campo direccion debe ser menor a 50 caracteres'    
	                        },   
	                    }    
	                },       				
	                Correo: {
	     	    		selector:'#idCorreo',   
	                    validators: {    
	                        notEmpty: {    
	                            message: 'Ingrese correo '    
	                        },
	                         regexp: {    
	                            regexp: /(?=.{6,40}$)[0-9a-zA-ZÑñáéíóúÁÉÍÓÚÜü_-]+@[0-9a-zA-ZÑñáéíóúÁÉÍÓÚÜü_-]+\.(com|edu|org)$/,    
	                            message: 'Ingrese un correo valido que tenga menos de 40 caracteres'    
	                        },   
	                    }    
	                },
	                Tipo: {
	     	    		selector:'#idTipo',   
	                    validators: {    
	                        notEmpty: {    
	                            message: 'Seleccione tipo medicamento'    
	                        },					
	                    }    
	                } 
	        	 }
	        })					
	    });    
	</script>   
</body>
</html>